@import url("https://fonts.googleapis.com/css2?family=Playfair:100,200,300,400,500,600,700;+Display&family=Roboto:100,200,300,400,500,600,700;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+JP&display=swap");

/*-----------------------------------------------------------------Heading */

header {
  margin: 0;
}

.logo {
  background: url("../images/bts_logo.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  float: left;
  display: inline-block;
}

/*--------------------------------------------------------------------Navbar */

.navbar {
  font-family: playfair-display, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0px;
  border: 0;
  width: 100%;
  background-color: #f9f9f9;
}

#nav-menu a:hover {
  color: #b5838d;
  text-decoration: underline;
}

#navbar ul li a.current-page {
    font-weight: bold;
    color: #92606a;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  height: 100%;
}

/*----------------Hero-Image start. Code ideas from Love Running module/www.w3schools.com---*/

.hero-image {
  height: 500px;
  width: 100%;
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e5989b;
  background-size: cover;
  position: relative;
}

@media (max-width: 768px) {
  background: url("mobile-hero-image.jpg") no-repeat center top;
}

.hero-button {
  text-align: center;
  border: 3px solid #e5989b;
  border-radius: 16px;
  background-color: #e5989b;
  font-weight: 500;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  margin-left: 210px;
  margin-top: 210px;
  cursor: pointer;
}

.hero-button a {
  text-decoration: none;
  color: #ffffff;
}

.hero-button a:hover {
  color: #6d6875;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

/*---------------------------------------------------------------Jumbotron start-------*/

.jumbotron {
  background-color: #ffffff;
  text-align: center;
  font-family: "Playfair-Display", sans-serif;
  margin-left: 0;
  padding: 0;
  margin-top: 20px;
  margin-right: 50px;
}

.order-heading {
  color: #ffb4a2;
}

img.be-album {
    margin-left: 30px;
    margin-right: 0;
    display: inline-block;
}

.order-button {
  text-decoration: none;
  border: 3px solid #e5989b;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #e5989b;
}

.order-button a {
  color: #ffffff;
  text-decoration: none;
}

.order-button a:hover {
  color: #6d6875;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

/*---------------------------------------------------------Images-Carousel start---*/

.carousel-inner {
  height: 545px;
}

/*--------------------------------------------------------------Band Profile---*/

.members-container {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

/*-----code-idea from w3schools.com----------*/

.members-container h1 {
  text-shadow: 3px 3px 6px #b5838d;
}


.profile-container-fluid .profile-row {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  margin-left: 0;
  margin-right: 0; 
  margin-bottom: 5px;
}

.profile-container-fluid .profile-text {
  text-align: center;
  margin-top: 150px;
  font-family: "Playfair-Display", sans-serif;
  font-size: 18px;
}

.profile-photo {
    padding: 0;
}

.profile-text h2 {
  font-family: "Playfair-Display", sans-serif;
  font-size: 45px;
  font-weight: 600;
}

/*----------------------------------------------------------------Iframe-content-----*/

.frame-container {
  margin-bottom: 70px;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.article h2 {
  font-family: "Merriweather", sans-serif;
  color: #92606a;
}

.album-container {
  margin-left: 50px;
  margin-top: 60px;
  padding:0;  
}

.column {
  padding: 50px;
  
 
  

/*------------------------------------------------------Video Carousel -----*/

video-carousel-inner {
    width: 400px;
    height: 450px;
    margin-top: 10px;
}
/*----------------------------------------------------------Striped-Table-----*/

.tour-container {
  margin-top: 30px;
}

.tour-container h1 {
  color: #b5838d;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}

.tour-container h3 {
  color: black;
  font-size: 15px;
  font-family: "Merriweather", sans-serif;
}

.table-striped {
  max-width: none;
  table-layout: fixed;
  margin-bottom: 50px;
  margin-top: 50px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.ticket-button {
  text-decoration: none;
  border: 3px solid #e5989b;
  border-radius: 16px;
  background-color: #e5989b;
  margin-bottom: 40px;
}

.ticket-button a {
  text-decoration: none;
  color: #ffffff;
}

.ticket-button a:hover {
  color: #6d6875;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

/*------------------------------------------------------------Contact Form----*/

.center-form {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 60%;
  margin-bottom: 30px;
}

.form-button {
  margin-top: 20px;
  border: 3px solid #e5989b;
  border-radius: 16px;
  background-color: #e5989b;
}

.form-button:hover {
  background-color: #e5989b;
  border: 3px solid #e5989b;
  border-radius: 16px;
  color: #6d6875;
}

/*-------------------------------------------------------------------Footer----*/

/* -------------Code ideas taken from resume project lesson/w3schools.com---*/

footer {
  position: absolute;
  background-color: #b5838d;
  color: #6d6875;
  min-height: 120px;
  margin: 0;
}

/*---code idea from stackoverflow.com/resume project lesson---*/

.social-links {
  padding-bottom: 15px;
  padding-top: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  display: inline-block;
  margin: 25px;
}

.social-links li a i {
  width: 31px;
  height: 31px;
  padding: 12px 0;
  text-decoration: none;
  border-radius: 50%;
  font-size: 16px;
  line-height: 7px;
  text-align: center;
  color: #b5838d;
  background-color: black;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #6d6875;
}

/*------------------------------------------------------------Media Query section--*/

@media screen and (max-width: 1393px) {
}
